  <!--header -->
  <header style="<%=extra_css if defined? extra_css %>" >
	<nav>
		<ul id="menu">
			<li class="active"><a href="/"><span>Home</span></a></li>
		</ul>
	</nav>
</header>			
  <!--header end-->
